@namespace StudioElf.Theme.Bootswatch.Default
@using StudioElf.Theme.Bootswatch.Client
@inherits ThemeBase
@inject ISettingService SettingService

<main role="main">
    <nav class="navbar navbar-dark bg-primary fixed-top">
        @if(_ThemeSettings.Logo)
        {
            <Logo UseSiteNameAsFallback="true" />
        }
        @if (IsAdminOrHost || _ThemeSettings.Logo)
        {
            <Menu Orientation="Horizontal" />
        }
        <div class="controls ms-auto">
            <div class="controls-group">
                @if (_ThemeSettings.Search)
                {
                    <Search CssClass="me-3 text-center bg-primary" />
                }
                <UserProfile ShowRegister="@_ThemeSettings.Register" />
                <Login ShowLogin="@_ThemeSettings.Login" />
                <ControlPanel LanguageDropdownAlignment="right" />
            </div>
        </div>
    </nav>
    <div class="content">
        <ExpandingContainer WidthClass="@(PageState.Action != Constants.DefaultAction ? "w-90" : _ThemeSettings.AdminWidthFluid)" RemoveGutter="@(_ThemeSettings.AdminRemoveGutter)">
            <ContainerContent>
                <div class="row">
                    <div class="col-md-12">
                        <Pane Name="@PaneNames.Default" />
                    </div>
                </div>
            </ContainerContent>
        </ExpandingContainer>
        <Pane Name="Top Full Width" />
        <ExpandingContainer WidthClass="@_ThemeSettings.ContentWidthFluid" RemoveGutter="@(_ThemeSettings.ContentRemoveGutter)">
            <ContainerContent>
                <div class="row">
                    <div class="col-md-12">
                        <Pane Name="Top 100%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <Pane Name="Left 50%" />
                    </div>
                    <div class="col-md-6">
                        <Pane Name="Right 50%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <Pane Name="Left 33%" />
                    </div>
                    <div class="col-md-4">
                        <Pane Name="Center 33%" />
                    </div>
                    <div class="col-md-4">
                        <Pane Name="Right 33%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <Pane Name="Left Outer 25%" />
                    </div>
                    <div class="col-md-3">
                        <Pane Name="Left Inner 25%" />
                    </div>
                    <div class="col-md-3">
                        <Pane Name="Right Inner 25%" />
                    </div>
                    <div class="col-md-3">
                        <Pane Name="Right Outer 25%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <Pane Name="Left 25%" />
                    </div>
                    <div class="col-md-6">
                        <Pane Name="Center 50%" />
                    </div>
                    <div class="col-md-3">
                        <Pane Name="Right 25%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <Pane Name="Left Sidebar 66%" />
                    </div>
                    <div class="col-md-4">
                        <Pane Name="Right Sidebar 33%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <Pane Name="Left Sidebar 33%" />
                    </div>
                    <div class="col-md-8">
                        <Pane Name="Right Sidebar 66%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <Pane Name="Bottom 100%" />
                    </div>
                </div>
            </ContainerContent>
        </ExpandingContainer>
        <Pane Name="Bottom Full Width" />
        <Pane Name="Footer" />
        <CookieConsent />
    </div>
</main>

@code {

    public override string Name => "Default Theme";
    private BootswatchThemeSettings _ThemeSettings;
    public override string Panes => PaneNames.Default + ",Top Full Width,Top 100%,Left 50%,Right 50%,Left 33%,Center 33%,Right 33%,Left Outer 25%,Left Inner 25%,Right Inner 25%,Right Outer 25%,Left 25%,Center 50%,Right 25%,Left Sidebar 66%,Right Sidebar 33%,Left Sidebar 33%,Right Sidebar 66%,Bottom 100%,Bottom Full Width,Footer";
    
    protected bool IsHost => UserSecurity.IsAuthorized(PageState.User, RoleNames.Host);
    protected bool IsAdmin => UserSecurity.IsAuthorized(PageState.User, RoleNames.Admin);
    protected bool IsAdminOrHost => IsAdmin || IsHost;

    protected override void OnParametersSet()
    {
        try
        {
            var settings = PageState.Site.Settings;

            if (settings.TryGetValue(BootswatchThemeSettings.SETTINGS_KEY, out var json))
            {
                _ThemeSettings = new BootswatchThemeSettings(json);
            }
            else
            {
                _ThemeSettings = new BootswatchThemeSettings();
            }
        }
        catch
        {
            // error loading theme settings
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        try
        {
            await JSRuntime.InvokeVoidAsync("eval", $@"
                const html = document.documentElement;
                if (html) {{
                    html.setAttribute('data-bs-theme', '{_ThemeSettings.Mode}');
                }}
            ");
        }
        catch
        {
            // JS interop error
        }
    }
}
