@namespace StudioElf.Theme.Bootswatch
@using StudioElf.Theme.Bootswatch.Client
@inherits ModuleBase
@implements Oqtane.Interfaces.ISettingsControl
@inject ISettingService SettingService
@inject IStringLocalizer<ThemeSettings> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@attribute [OqtaneIgnore]
@if (BootswatchThemeSettings != null)
{
    <div class="container">
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="logo" ResourceKey="Logo" HelpText="Specify if a Logo should be displayed">Show Logo?</Label>
            <div class="col-sm-5">
                <select id="logo" class="form-select" value="@BootswatchThemeSettings.Logo.ToString()" @onchange="@((ChangeEventArgs e) => BootswatchThemeSettings.Logo = bool.Parse(e.Value.ToString()))">
                    <option value="True">
                        @SharedLocalizer["Yes"]
                    </option>
                    <option value="False">
                        @SharedLocalizer["No"]
                    </option>
                </select>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="menu" ResourceKey="Menu" HelpText="Specify if a Menu should be displayed">Show Menu?</Label>
            <div class="col-sm-5">
                <select id="menu" class="form-select" value="@BootswatchThemeSettings.Menu.ToString()" @onchange="@((ChangeEventArgs e) => BootswatchThemeSettings.Menu = bool.Parse(e.Value.ToString()))">
                    <option value="True">
                        @SharedLocalizer["Yes"]
                    </option>
                    <option value="False">
                        @SharedLocalizer["No"]
                    </option>
                </select>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="login" ResourceKey="Login" HelpText="Specify if a Login option should be displayed. Note that this option does not prevent the login page from being accessible via a direct url.">Show Login?</Label>
            <div class="col-sm-5">
                <select id="login" class="form-select" value="@BootswatchThemeSettings.Login.ToString()" @onchange="@((ChangeEventArgs e) => BootswatchThemeSettings.Login = bool.Parse(e.Value.ToString()))">
                    <option value="True">
                        @SharedLocalizer["Yes"]
                    </option>
                    <option value="False">
                        @SharedLocalizer["No"]
                    </option>
                </select>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="register" ResourceKey="Register" HelpText="Specify if a Register option should be displayed. Note that this option is also dependent on the Allow Registration option in User Settings.">Show Register?</Label>
            <div class="col-sm-5">
                <select id="register" class="form-select" value="@BootswatchThemeSettings.Register.ToString()" @onchange="@((ChangeEventArgs e) => BootswatchThemeSettings.Register = bool.Parse(e.Value.ToString()))">
                    <option value="True">
                        @SharedLocalizer["Yes"]
                    </option>
                    <option value="False">
                        @SharedLocalizer["No"]
                    </option>
                </select>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="search" ResourceKey="Search" HelpText="Specify if a search icon should be displayed">Show Search?</Label>
            <div class="col-sm-5">
                <select id="search" class="form-select" value="@BootswatchThemeSettings.Search.ToString()" @onchange="@((ChangeEventArgs e) => BootswatchThemeSettings.Search = bool.Parse(e.Value.ToString()))">
                    <option value="True">
                        @SharedLocalizer["Yes"]
                    </option>
                    <option value="False">
                        @SharedLocalizer["No"]
                    </option>
                </select>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="mode" ResourceKey="Mode" HelpText="Specify the Bootstrap theme mode Dark or Light">Mode:</Label>
            <div class="col-sm-9">
                <select id="mode" class="form-select" @bind="@BootswatchThemeSettings.Mode">
                    <option value="light">@SharedLocalizer["Light"]</option>
                    <option value="dark">@SharedLocalizer["Dark"]</option>
                </select>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="ContentWidthFluid" ResourceKey="AdminWidthFluid" HelpText="Specify the Admin container width %">Admin Width Fluid</Label>
            <div class="col-sm-5">
                <select id="ContentWidthFluid" class="form-select" @bind="@BootswatchThemeSettings.AdminWidthFluid">
                    <option value="-">&lt;@SharedLocalizer["Not Specified"]&gt;</option>
                    <option value="w-50">50%</option>
                    <option value="w-60">60%</option>
                    <option value="w-70">70%</option>
                    <option value="w-75">75%</option>
                    <option value="w-80">80%</option>
                    <option value="w-90">90%</option>
                    <option value="w-100">100%</option>
                </select>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="AdminRemoveGutter" ResourceKey="AdminRemoveGutter" HelpText="Admin Remove Guttering">Admin Remove Gutter</Label>
            <div class="col-sm-5">
                <select id="AdminRemoveGutter" class="form-select" value="@BootswatchThemeSettings.AdminRemoveGutter.ToString()" @onchange="@((ChangeEventArgs e) => BootswatchThemeSettings.AdminRemoveGutter = bool.Parse(e.Value.ToString()))">
                    <option value="True">
                        @SharedLocalizer["Yes"]
                    </option>
                    <option value="False">
                        @SharedLocalizer["No"]
                    </option>
                </select>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="ContentWidthFluid" ResourceKey="ContentWidthFluid" HelpText="Specify the content container width %">Content Width Fluid</Label>
            <div class="col-sm-5">
                <select id="ContentWidthFluid" class="form-select" @bind="@BootswatchThemeSettings.ContentWidthFluid">
                    <option value="-">&lt;@SharedLocalizer["Not Specified"]&gt;</option>
                    <option value="w-50">50%</option>
                    <option value="w-60">60%</option>
                    <option value="w-70">70%</option>
                    <option value="w-75">75%</option>
                    <option value="w-80">80%</option>
                    <option value="w-90">90%</option>
                    <option value="w-100">100%</option>
                </select>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="ContentRemoveGutter" ResourceKey="ContentRemoveGutter" HelpText="Content Remove Guttering">Content Remove Gutter</Label>
            <div class="col-sm-5">
                <select id="ContentWidthFluid" class="form-select" value="@BootswatchThemeSettings.ContentRemoveGutter.ToString().ToLower()" @onchange="@((ChangeEventArgs e) => BootswatchThemeSettings.ContentRemoveGutter = bool.Parse(e.Value.ToString()))">
                    <option value="true">@SharedLocalizer["Yes"]</option>
                    <option value="false">@SharedLocalizer["No"]</option>
                </select>
            </div>
        </div>
    </div>
}
@code {
    //private string _resourceType = "StudioElf.Theme.Bootswatch.ThemeSettings, StudioElf.Theme.Bootswatch.Oqtane"; // for localization
    private BootswatchThemeSettings BootswatchThemeSettings;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadSettings();
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Settings {Error}", ex.Message);
            AddModuleMessage("Error Loading Settings", MessageType.Error);
        }
    }

    private async Task LoadSettings()
    {
        var settings = PageState.Site.Settings;

        if (settings.TryGetValue(BootswatchThemeSettings.SETTINGS_KEY, out var json))
        {
            BootswatchThemeSettings = new BootswatchThemeSettings(json);
        }
        else
        {
            BootswatchThemeSettings = new BootswatchThemeSettings();
        }

        await Task.Yield();
    }

    public async Task UpdateSettings()
    {
        try
        {
            // Refresh JSON from the object
            BootswatchThemeSettings.Sync();

            // Load existing settings dictionary
            var settings = await SettingService.GetSiteSettingsAsync(PageState.Site.SiteId);

            // Store the entire settings object as JSON
            settings = SettingService.SetSetting(
                settings,
                BootswatchThemeSettings.SETTINGS_KEY,
                BootswatchThemeSettings.Serialized
            );

            // Save back to database
            await SettingService.UpdateSiteSettingsAsync(settings, PageState.Site.SiteId);

        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving Settings {Error}", ex.Message);
            AddModuleMessage("Error Saving Settings", MessageType.Error);
        }
    }
}
